.container {
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 6rem;
}

.row {
  flex: 1;
  padding: 2rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}

.top-row {
  background-color: aqua;
  height: 25%;
}

.bottom-row {
  height: 75%;
}

.article-row {
  flex: 1;
  padding: 2rem;
  margin-top: 0.5rem;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 5px;
}

.read-button {
  padding: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.toggle-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-button {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  color: black;
}

.toggle-button.on {
  background-color: lightblue;
  color: white;
}
